.row
  //- https://bootsnipp.com/snippets/7B7W
  ul.timeline.col-12
    li(rv-each-time="timeline" rv-class-timeline-inverted="%time% | uneven")
        .timeline-badge.primary
          a
            //- {%time%}
            i.fas.fa-dot-circle
        .timeline-panel(rv-if="time.type | eq 'modules'")
          .timeline-heading.px-3.py-2
            strong Modules
          .timeline-body
            table.table
              tr(rv-each-modu="time.modules")
                th(scope='row', rv-text="modu.name")
                td(rv-text="modu.position")
          .timeline-footer.d-flex.justify-content-between
            .btn-group
              .dropdown
                button.btn.btn-outline-secondary.dropdown-toggle.modules-dropdown(rv-bs4-dropdown="")
                  span(rv-text="time._module.module")
                  br
                  small(rv-text="time._module.header")
                .dropdown-menu.scrollbar-y-auto.scrollbar-primary
                  .dropdown-item.text-primary.cursor-pointer(rv-each-mo="config.modules", rv-on-click="selectModulesDropdown | args time mo")
                    span(rv-text="mo.module")
                    span(rv-if="mo.header")
                      br
                      small(rv-text="mo.header")
              button.button-add-module.btn.btn-outline-secondary(type='button' rv-data-index="%time%" /*rv-on-click="addModuleToTimeline | args time time._module"*/) Add
            button.button-show-timeline.btn.btn-outline-secondary(type='button' rv-on-click="showTimeline | args time") Show
        .timeline-panel(rv-if="time.type | eq 'media'")
          .timeline-heading
            img.img-fluid(src='http://lorempixel.com/1600/500/sports/2')
          .timeline-body
            p(rv-each-mod="time.modules")
              span(rv-text="mod.module")
              span(rv-text="mod.position")
          .timeline-footer.d-flex.justify-content-between
nav.navbar.fixed-bottom.navbar-dark.bg-primary
  .col-12.d-flex.justify-content-between
    .btn-group.dropup
      button.btn.btn-dark.dropdown-toggle(rv-bs4-dropdown="")
        span(rv-text="_timeType")
      .dropdown-menu.scrollbar-y-auto.scrollbar-primary
        .dropdown-item(rv-each-type="timeTypes")
          .text-primary.cursor-pointer(rv-on-click="selectTimetype | args type")
            span(rv-text="type")
      button#button-add.btn.btn-dark(type='button' rv-on-click="addItemToTimeline") Add
    button#button-save.btn.btn-dark(type='button' rv-on-click="save") Save