.input-group.mb-3
  input.form-control(type='text', placeholder="Write a message", aria-label="Write a message", aria-describedby='button-send', rv-value="message")
  .input-group-append.btn-group.dropdown
    button.btn.btn-outline-secondary.dropdown-toggle(rv-bs4-dropdown="")
      span(rv-text="type")
    .dropdown-menu.scrollbar-y-auto.scrollbar-primary
      .dropdown-item(rv-each-current="types")
        .cursor-pointer(rv-on-click="setType | args current")
          span.text-primary(rv-text="current")
    button#button-send.btn.btn-outline-secondary(type='button' rv-on-click="send") Send

button#button-send.btn.btn-outline-secondary(type='button' rv-on-click="hide") Hide