html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', type='text/css', href='/styles/app.css')
    title MagicMirror² - Backend
  body
    .container-fluid
      .row
        .col-12
          navbar
      .row.d-flex.flex-nowrap
        .col.py-3(rv-view='{"listenAllLinks": false, "datasetToModel": true}' id="main")
          .container(data-namespace=dataset.namespace, data-title=dataset.title)
            block content
      .row
        .col-12
          footer
    script(src="/scripts/app.bundle.js")